.CommonHeader {
  display: flex;
  height: 100%;
  align-items: center;
}

.CommonHeader > .logo {
  height: 100%;
}

.CommonHeader > .phrase {
  font-size: 0.875rem;
  opacity: 0.3;
  flex: 1;
  text-align: right;
}
