.App {
  width: 100%;
  margin: 0 auto;
  padding: 0px 32px 48px 32px;
}

.App > .header-container {
  width: 100%;
  margin: 36px 0px 48px 0px;
  height: 36px;
}

.App > .content-container {
  width: 100%;
}
